<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Map demo</title>
    
    <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script> 

    <script src="script.js" type="module"></script>

    <link rel="stylesheet" href="style.css" type="text/css" />    
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  </script>
</head>
<body>
  <header>
    <h1>Food Panda Support desk</h1>    
    <div class="marker" data-direction="left"></div>
    </header>

    <div id="map"></div>
    
  </body>
</html>