<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Map demo</title>
    <link rel="stylesheet" href="style.css" type="text/css" />    
  </script>
</head>
<body>
  <header>
    <h1>Food Panda Support desk</h1>
    <div class="controls">
      <h2>Accuracy Controls:</h2>
        <label class="switch">
          <span class="switch-text">Slow</span>
          <input type="checkbox" id="speed">
          <span class="slider round"></span>
          <span class="switch-text">Fast</span>
        </label>
    
        <label class="switch">
          <span class="switch-text">Absolute</span>
          <input type="checkbox" id="animation">
          <span class="slider round"></span>
          <span class="switch-text">Smooth</span>
        </label>
    </div>
  </header>

    <div id="map"></div>
  
  <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=feAIzaSyAUi7Beh5Yc2a5efefe7ctykhPdF3_bZ1C_0HeQ"></script>
  <script src="script.js" type="module"></script>
     <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH1xMRIpNrb6o4FnV2ssgFXYyhK0QmOH8&callback=initMap" -->
<!--   type="text/javascript"></script> -->
  </body>
</html>