<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Map demo</title>
    <link rel="stylesheet" href="style.css" type="text/css" />    
  </script>
</head>
<body>
  <h1>Ably Map Demo</h1>
  
  <div id="map"></div>
  
  <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNDIVG9NCk5FLu2tiue0tY8UP3h-DGaPM"></script>
  <script src="script.js" type="module"></script>
    
  </body>
</html>