#map {
  height: calc(100vh - 86px);  
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0.6em 0;
}

.historyContainer .item {
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    padding: 20px;
    margin-top: 10px;
  }  
